[submodule "libs/rbenv"]
  path = libs/rbenv
  url = https://github.com/sstephenson/rbenv.git
[submodule "libs/ruby-build"]
  path = libs/ruby-build
  url = https://github.com/sstephenson/ruby-build.git
[submodule "libs/git-extras"]
  path = libs/git-extras
  url = https://github.com/visionmedia/git-extras.git
[submodule "libs/nave"]
  path = libs/nave
  url = https://github.com/isaacs/nave.git
[submodule "link/pentadactyl/plugins/firebug-pentadactyl"]
  path = link/pentadactyl/plugins/firebug-pentadactyl
  url = https://github.com/maksimr/firebug-pentadactyl.git
[submodule "link/plenv"]
  path = link/plenv
  url = https://github.com/marcusramberg/plenv.git
[submodule "link/emacs.d"]
  path = link/emacs.d
  url = https://github.com/plexus/chemacs2.git
