[submodule "libs/ack"]
	path = libs/ack
	url = git://github.com/petdance/ack.git
[submodule "libs/rbenv"]
	path = libs/rbenv
	url = git://github.com/sstephenson/rbenv.git
[submodule "libs/ruby-build"]
	path = libs/ruby-build
	url = git://github.com/sstephenson/ruby-build.git
[submodule "libs/git-extras"]
	path = libs/git-extras
	url = git://github.com/visionmedia/git-extras.git
[submodule "libs/z"]
	path = libs/z
	url = git://github.com/rupa/z.git
[submodule "libs/nave"]
	path = libs/nave
	url = git://github.com/isaacs/nave.git
[submodule "libs/oh-my-zsh"]
	path = libs/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "link/pentadactyl/plugins/firebug-pentadactyl"]
	path = link/pentadactyl/plugins/firebug-pentadactyl
  url = https://github.com/maksimr/firebug-pentadactyl.git
[submodule "libs/ansible"]
	path = libs/ansible
	url = https://github.com/ansible/ansible.git
[submodule "libs/pure"]
	path = libs/pure
	url = https://github.com/sindresorhus/pure
[submodule "link/plenv"]
	path = link/plenv
	url = git://github.com/marcusramberg/plenv.git
[submodule "libs/ansible-venv"]
	path = libs/ansible-venv
	url = https://github.com/configuresystems/ansible-venv-bootstrapper.git
