caches/
backups/
link/ssh/authorized_keys
link/ssh/id_*
link/ssh/google_*
link/ssh/github*
link/ssh/known_hosts
link/ssh/environment*
link/mutt/cache/
link/config/gh/
link/config/Bitwarden/
link/vim/bundle/
link/vim/plugged/
link/vim-mini/bundle/
link/vim/.netrwhist
link/config/hub
*LOCAL*
*.py[cod]
*.bak
automatic_backups
.DS_Store
/link/config/Microsoft\\VisualStudio Services/
/link/config/StardewValley/
/link/config/coc/extensions/node_modules/
/link/config/configstore/update-notifier-tsd.json
link/config/fish/fish_history
link/config/fish/fishd.*
link/config/fish/fish_variables
link/config/hackmudlink/config/albert/core.db
plugin
link/hammerspoon/Spoons/EmmyLua.spoon/annotations/
