caches/
backups/
link/ssh/authorized_keys
link/ssh/id_*
link/ssh/google_*
link/ssh/github*
link/ssh/known_hosts
link/ssh/environment*
link/mutt/cache/
link/vim/bundle/
link/vim/plugged/
link/vim-mini/bundle/
link/vim/.netrwhist
*LOCAL*
*.py[cod]
*.bak
